.root {
  display: grid;
  gap: var(--space-xl);
  padding: var(--space-3xl);
}

.header {
  display: grid;
  gap: var(--space-2xs);
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: var(--space-2xs);
  font-size: var(--text-2xs);
}

.title {
  font-size: var(--text-lg);
}

.content {
  display: grid;
  gap: var(--space-2xl);
}

.form {
  display: grid;
  gap: var(--space-2xl);
}

.field {
  display: grid;
  gap: var(--space-2xs);
  font-size: var(--text-sm);
  font-weight: bold;
}

.textInput {
  width: 100%;
  padding: var(--space-sm);
  border-radius: var(--radius-xs);
  border: 1px solid var(--color-base-300);
  font-size: var(--text-sm);
  background: var(--color-base-100);
  transition:
    border 0.2s ease,
    box-shadow 0.2s ease;
}

.textInput:focus {
  outline: none;
  border-color: var(--color-main-500);
  box-shadow: var(--box-shadow);
}

.actions {
  display: flex;
  gap: var(--space-md);
  justify-content: flex-end;
}

.actions button {
  max-width: 10rem;
  height: 3rem;
  font-size: var(--text-sm);
  border-radius: var(--radius-3xl);
}

.eyes {
  display: flex;
  gap: var(--space-xs);
  user-select: none;
  accent-color: var(--color-accent-500);
}
