.root {
  display: grid;
  gap: var(--space-3xl);
}

.header {
  display: grid;
  gap: var(--space-2xs);
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: var(--space-2xs);
  font-size: var(--text-xs);
}

.title {
  font-size: var(--text-2xl);
}

.sub {
  color: var(--color-accent-300);
}

.content {
  display: grid;
  grid-template-columns: 50%;
  gap: var(--space-3xl);
}

.formCard {
  display: grid;
  gap: var(--space-2xl);
  padding: var(--space-3xl);
  border-radius: var(--radius-xl);
  box-shadow: var(--box-shadow);
}

.field {
  display: grid;
  gap: var(--space-2xs);
  font-size: var(--text-sm);
  font-weight: bold;
}

.required::after {
  content: "必須";
  margin-left: var(--space-2xs);
  color: var(--color-accent-500);
  font-size: var(--text-xs);
}

.textInput {
  width: 100%;
  padding: var(--space-sm);
  border-radius: var(--radius-xs);
  border: 1px solid var(--color-base-300);
  font-size: var(--text-sm);
  background: var(--color-base-100);
  transition:
    border 0.2s ease,
    box-shadow 0.2s ease;
}

.textInput:focus {
  outline: none;
  border-color: var(--color-main-500);
  box-shadow: var(--box-shadow);
}

.actions {
  display: flex;
  gap: var(--space-md);
  justify-content: flex-end;
}

.actions button {
  max-width: 8rem;
  height: 3rem;
  font-size: var(--text-sm);
  border-radius: var(--radius-3xl);
}
