.root {
  display: grid;
  gap: var(--space-xl);
}

.header {
  display: flex;
  justify-content: space-between;
  gap: var(--space-2xs);
  position: sticky;
  top: 132px;
  height: 70px;
}

.pageName {
  display: grid;
  gap: var(--space-2xs);
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: var(--space-2xs);
  font-size: var(--text-xs);
}

.title {
  font-size: var(--text-2xl);
}

.content {
  display: grid;
  grid-template-columns: 16rem 1fr;
  gap: 6rem;
  align-items: start;
}

.sidebar {
  display: grid;
  gap: var(--space-lg);
  position: sticky;
  top: 226px;
}

.panel {
  display: grid;
  gap: var(--space-2xl);
  padding: var(--space-2xl);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-xl);
}

.field {
  display: grid;
}

.field:not(:last-child)::after {
  content: "";
  display: block;
  width: 90%;
  height: 0.05rem;
  margin: 0 auto;
  background: var(--color-base-300);
}

.field label {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-xs);
  border-radius: var(--radius-md);
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease;
}

.field input {
  accent-color: var(--color-accent-500);
}

.panel label:hover {
  background: var(--color-main-50);
}
